dist*
*.hi
*.o
.hsenv*
.stack-work/
.stack-work-profile/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter
.ghci
node_modules/
bower_components/
output/
dist/
static/dist/
.psci_modules
.psc-ide-port
npm-debug.log
